
/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Science Hackday dashboard Styles - Shaun Hare
*/
body{font-family:Futura,'Century Gothic','Gill Sans',Calibri,Corbel,'Lucida Grande','Trebuchet MS',sans-serif;}
header{display:block; height:150px; border-bottom:solid 5px #D8D7D7;background-color:#EFEFEF;padding:5px 5px 0px 0px;}
header img {vertical-align:middle;padding-left:20px;}
h1,h2 { font-family: 'Droid Sans', arial, serif; text-shadow:1px 1px 0 rgba(255, 255, 255, 0.75);}
h1{font-size:300%;}
h2{font-size:200%; width:50%;margin-left:10px;}
p{margin:3px;}


section.leftColumn{float:left;margin:10px;}
aside{display:block;padding:10px;background:#fff;float:right; width:250px; text-transform: uppercase;}
ul#tweets {font-size:65%;margin-top:5px;font-family:verdana;}
ul#tweets a,ul#tweets a:link,ul#tweets a:visited{color:#9cbc2c;} 
ul#tweets > li{ clear:both;display:block;  padding:5px;

 border-radius: 5px;
 color: rgba(0, 0, 0,0.8);
 background-color: #f3f3f3;
 border-color:#ccc;
 line-height:135%;
 height:auto;
 min-height:90px;
 margin-top:6px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 }
ul#tweets > li img{border: solid 1px #333; float:left; padding:5px;margin-right:5px;}
.feature{ margin:10px;display:block;  background: #9cbc2c;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 padding: 20px;
 width: 700px;
}

footer{padding-left:10px;display:block; clear:both;color:#9cbc2c; width:50%;}